<% layout("/layouts/boilerplate") %>

<h1>All Campgrounds</h1>

<div>
    <a class="btn btn-warning mb-3"  href="/campgrounds/new">Add Campground</a>
</div>

<ul>
    <div class="d-grid gap-1">
       <% for (let campground of campgrounds) { %>
       <li>
           <a class="btn btn-outline-primary" href="/campgrounds/<%= campground._id %>">
               <%= campground.title %>
           </a>
       </li>
       <% } %>
    </div>

</ul>